body {
    margin: 0;
    background-color: #A6F26A;
}
header
{
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #8EE054;
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #111111;
    text-shadow: 0 0 6px rgba(0,0,0,0.4);
}

.container p
{
    font-family: 'Cursed Timer ULiL', sans-serif;
    color: #0B0B0B;
    text-shadow: 0 0 6px rgba(0,0,0,0.4);
    font-size: 52px;
}


.containerbuttong button
{
    font-size: 15x;
    border-radius: 5px;
    border-width: 3px;
    border-color: rgb(170, 25, 30);
    width: 50px;
    height: 50px;
}

.containerbuttonh button
{
    font-size: 15x;
    border-radius: 5px;
    border-width: 3px;
    border-color: rgb(37, 170, 25);
    width: 50px;
    height: 50px;
}

.StartButton button
{
    font-size: 15x;
    border-radius: 5px;
    border-width: 3px;
    border-color: rgb(99, 37, 223);
    width: 75px;
    height: 50px;
}
