body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.container p
{
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 52px;
}


.containerbuttong button
{
    font-size: 15x;
    border-radius: 5px;
    border-width: 3px;
    border-color: rgb(170, 25, 30);
    width: 50px;
    height: 50px;
}

.containerbuttonh button
{
    font-size: 15x;
    border-radius: 5px;
    border-width: 3px;
    border-color: rgb(37, 170, 25);
    width: 50px;
    height: 50px;
}

.StartButton button
{
    font-size: 15x;
    border-radius: 5px;
    border-width: 3px;
    border-color: rgb(99, 37, 223);
    width: 75px;
    height: 50px;
}